<div class="row">
    <div class="card mt-4">
        <div class="card-body ">
            <h1> About</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Aperiam ea, odio temporibus quis illo neque distinctio,
                et dignissimos repellendus dolore quae provident quasi impedit vel
                voluptate beatae quas obcaecati suscipit!
            </p>
        </div>
    </div>
</div>