<div class="jumbotron mt-4">
    <h1 class="display-4"> App NotesApp</h1>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Fugiat quasi commodi adipisci harum debitis! Itaque nemo, 
        eveniet libero cumque necessitatibus, 
        aut ad officia quae labore doloremque dicta, unde ea recusandae.</p>
        <a href="https://google.com" class="btn btn-primary btn-lg">click aqui</a>
</div>